table {
	border: 5px solid gold;
}
td:hover {
	background-color: grey;
	color: red;
}
tr, th {
	background-color: green;
	color: black
}
tr, td {
	background-color: black;
	color: white;
}
